* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



body {
    font-family: Fredoka;
}

h1 {
    color: #E5316F;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.paragraph {
    text-align: center;
}


.team-card {
    width: 30%;
    margin: 1%;
    float: left;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 0px;
    background-color: black;
}



.team-card img {
    float: left;
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

.team-card-text {
    float: left;
    width: 50%;
    text-align: left;
    color: white;
    padding: 5px 0;
}

.email{
    color:#47A9C5;
}

h2{
    float: left;
    color: white;
    padding-top: 30px;
}

.incipit{
    padding-bottom: 30px;
}